<!DOCTYPE html>

<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/custom2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://fast.fonts.com/jsapi/eae1e4d2-2f77-41fd-a77b-a774ca843d87.js"></script>
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<% if admin? %>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
			<script type="text/javascript" src="/rails.js"></script>
		<% end %>
		
	</head>
	
	<body>
			
		<div id="wrapper">
			
			<div id="container">
				
				<div id="header">
					
					<a href="index.html"><img src="/images/logo_lachman.png" width="125" height="13" alt="Logo Lachman"></a>
					
					<div id="menu_interier">
						<a href="#">reference</a> /
						<a href="#">prodejna nábytku</a> /
						<a href="#">profil společnosti</a> /
						<a href="#">kontakty</a>
					</div><!-- #menu_interier -->
					
				</div><!-- #header -->
				
				<div id="content">
					
					<div id="leftcol">
						<span class="title">detail</span>
						<div class="detail_name"><%= post.title.gsub(/[*+]/,'&nbsp;') %></div>
						<div class="detail_location"><%= post.location.gsub(/[*+]/,'&nbsp;') unless post.location.nil? %></div>
						<div class="detail_meta">
							<p><%= post.body_html unless post.body_html.nil? %></p>
						</div>
						<a href="/reference/vsechny">&lt; zpět na reference</a>
						<% if admin? %>
							<br/><br/><a class="admin" href="<%= post.url %>edit">Upravit referenci / přidat fotky</a>
							<br /><br /><br /><a href="/reference/<%= post.id %>" data-method="delete" rel="nofollow" data-confirm="Opravdu smazat referenci?">Smazat referenci</a>
						<% end %>
					</div><!-- #leftcol -->
					
					<div id="rightcol" class="sortable">
						
						<% post.pictures.each_with_index do |pic,index| %>
							<div id="pic_<%= index %>" class="reference">
								<img src="<%= pic.filename %>" />
							</div><!-- .reference -->
						<% end %>
						
						
					</div><!-- #rightcol -->
					
				</div><!-- #content -->
				
			</div><!-- #container -->
			
		</div><!-- #wrapper -->
		
	</body>
</html>