<!DOCTYPE html>

<html>
	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/common.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/custom2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		
		<script type="text/javascript" src="http://fast.fonts.com/jsapi/eae1e4d2-2f77-41fd-a77b-a774ca843d87.js"></script>
		
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
	</head>
	
	<body>
			
		<div id="wrapper">
			
			<div id="container">
				
				<div id="header">
					
					<a href="/"><img src="/images/logo_lachman.png" width="125" height="13" alt="Logo Lachman"></a>
					
					<div id="menu_interier">
						<a href="/<%= params[:company] %>/reference/vsechny">reference</a> /
						<% if BlogConfig.company_pages[params[:company]].include?('prodejna-nabytku') %><a href="/<%= params[:company] %>/prodejna-nabytku">prodejna nábytku</a> /<% end %>
						<% if BlogConfig.company_pages[params[:company]].include?('profil-spolecnosti') %><a href="/<%= params[:company] %>/profil-spolecnosti">profil společnosti</a> /<% end %>
						<% if BlogConfig.company_pages[params[:company]].include?('kontakty') %><a href="/<%= params[:company] %>/kontakty">kontakty</a><% end %>
					</div><!-- #menu_interier -->
					
				</div><!-- #header -->
				
				<div id="content">
					
					<div id="leftcol">
						<span class="title">reference</span>
						<% if reference_categories_enabled? %>
						<ul>
							<li <%= 'class="active"' if params[:category] == 'vsechny' %>><a href="/<%= params[:company] %>/reference/vsechny">všechny</a></li>
							<li <%= 'class="active"' if params[:category] == 'banky' %>><a href="/<%= params[:company] %>/reference/banky">banky</a></li>
							<li <%= 'class="active"' if params[:category] == 'verejne-budovy' %>><a href="/<%= params[:company] %>/reference/verejne-budovy">veřejné budovy</a></li>
							<li <%= 'class="active"' if params[:category] == 'kancelare-a-obchodni-prostory' %>><a href="/<%= params[:company] %>/reference/kancelare-a-obchodni-prostory">kanceláře a obchodní prostory</a></li>
							<li <%= 'class="active"' if params[:category] == 'hotely-a-restaurace' %>><a href="/<%= params[:company] %>/reference/hotely-a-restaurace">hotely a restaurace</a></li>
							<li <%= 'class="active"' if params[:category] == 'rodinne-domy-a-byty' %>><a href="/<%= params[:company] %>/reference/rodinne-domy-a-byty">rodinné domy a byty</a></li>
						</ul>
						<% end %>
						
						<% if admin? %>
							<div class="admin">
								<br /><br />
								<a href="/reference/new">Přidat referenci</a>
							</div><!-- .admin -->
						<% end %>
						
					</div><!-- #leftcol -->
					
					<div id="rightcol">
						
						<% posts.each do |post| %>
							<div class="reference">
								<a href="<%= post.url %>"><img src="<%= post.pictures.first.filename unless post.pictures.first.nil? %>" width="620" height="404" alt="reference image">
								<div class="label">
									<span class="name"><%= linebreaks(post.title) %></span><br/>
									<%= linebreaks(post.location) unless post.location.nil? %>
								</div><!-- .label --></a>
								<p><%#= post.category %></p><!-- TODO remove -->
							</div><!-- .reference -->
						<% end %>
						<%= will_paginate(posts) %>
					</div><!-- #rightcol -->
					
					
				</div><!-- #content -->
				
			</div><!-- #container -->
			
		</div><!-- #wrapper -->
		
	</body>
</html>