<form action="<%= url %>" method="post" name="edit" enctype="multipart/form-data">
<div class="postzoom">
	<h2 class="title"><input type="text" name="title" value="<%= post.title %>" /></h2>
	<p class="meta"><input type="text" name="tags" value="<%= post.tags %>" /></p>
	<p class="meta"><%= post.created_at %></p>
	<div class="entry">
		<textarea name="body"><%= post.body %></textarea>
	</div>
	
	<div id="sortable">
		<% post.pictures.each_with_index do |pic,index| %>
			<p id="pic_<%= pic.id %>">
				<img src="<%= pic.imagefile %>" />
				<a href="/pictures/<%= pic.id %>" data-method="delete" rel="nofollow" data-confirm="Are you sure?">Delete</a>
			</p>
		<% end %>
	</div><!-- #sortable -->
	
	<input type="file" name="image[]" multiple/>
	<div class="edit"><input type="submit" value="Save" /></div>
</div>
</form>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#sortable").sortable({
			stop: function(event,ui){
				console.log($("#sortable").sortable("serialize"));
				$.ajax({
				  url: "/reorder",
					type: "POST",
					data: $("#sortable").sortable("serialize"),
				  success: function(){
				    //$(this).addClass("done");
				  }
				});
			}
		});
		
	});
</script>
